.box {
    padding-top: 10%;
    text-align: center;
}

.header {
    font-size: x-large;
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;

}

.input-group label {
    width: 100px;
}




.register-button {
    margin-top: 10px;
}
  